<!--Inherit base template-->
{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
       <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">Welcome to my website!</div>
                <div class="masthead-subheading">Here you'll find my homework and other interesting stuff</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#start">Get started</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="start">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Choose!</h2>
                    <h3 class="section-subheading text-muted">What would you like to see?</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <a class="btn-social" href="#music">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-headphones fa-stack-1x"></i>
                            </a>
                        </span>
                        <h4 class="my-3">Music gallery</h4>
                        <p class="text-muted">A collection of some of my favourite playlists for every mood </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <a class="btn-social" href="#gallery">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-camera fa-stack-1x"></i>
                            </a>
                        </span>
                        <h4 class="my-3">Photo gallery</h4>
                        <p class="text-muted">A collection of some of my favourite pictures</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <a class="btn-social" href="#hwork">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-frown fa-stack-1x"></i>
                            </a>
                        </span>
                        <h4 class="my-3">My homework</h4>
                        <p class="text-muted">All my homework for the Databases and Web Design course</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Playlists Grid-->
        <section class="page-section" style="background-color:lightgrey" id="music">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase" style = "color:black">Mood Playlists</h2>
                    <h3 class="section-subheading text-muted">Choose today's mood and see how it sounds.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#sad">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/sad.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#blin">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/blin.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#home">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/home.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#leaf">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/leaf.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#dance">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/dance.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#energy">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/energy.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#tb">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/tb.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#heart">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/heart.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#mdlr">
                                <img class="img-fluid" style="border-radius: 10px" src="{{url_for('static', filename='assets/img/music/mdlr.png') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="gallery">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Pole Pole</h2>
                    <h3 class="section-subheading text-muted">This is a collection of pictures taken in September of 2019 in the Masai Mara National Reserve, in Kenya.
                        The collection is called Pole Pole, a saying often used by the Masai. An accurate translation would be the spanish expression "sin prisa pero sin pausa".
                    </h3>
                </div>
                <div class="container-fluid">
                    <div class="row gallery">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/B1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/C3.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C3.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/E4.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E4.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/G1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/G1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/L5.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/L5.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/F1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/F1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/A2.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/A2.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/I5.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/I5.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/D3.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/D3.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/C5.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C5.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/G2.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/G2.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/E5.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E5.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/E1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/L1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/L1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/D2.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/D2.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/B3.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B3.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/C1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/B2.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B2.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/H1.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/H1.JPG') }}">
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <a href="{{url_for('static', filename='assets/img/gallery/E6.JPG') }}">
                          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E6.JPG') }}">
                        </a>
                      </div>
                      </div>
                    </div>
                  </div>
                
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
                  <script>
                    baguetteBox.run(".gallery", {
                      animation: "slideIn"
                    });
                    
                  </script>
                </div>
            </div>
        </section>
        <!-- Team-->

        <section class="page-section bg-light" id="hwork">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase" style="color: black">My Homework</h2>
                    <h3 class="section-subheading text-muted">If you click on any of the options, you will be redirected to a new page where the homework is posted.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member" style="padding-top: 90px;">
                                <a class="btn-social" href="{{ url_for('data_model') }}">
                                    <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/hw/datmodel.png') }}" alt="..." />
                                </a>
                            <h4 style="color: darkgray">GWAS Data Model</h4>
                            <p class="text-muted">See how a GWAS database would be organized.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member" style="padding-top: 90px;">
                                <a class="btn-social" href="{{ url_for('clustal_app') }}">
                                    <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/hw/dna.png') }}" alt="..." />
                                </a>
                            <h4 style="color: darkgray">Clustal Omega App</h4>
                            <p class="text-muted">Align multiple sequences.</p>
                        </div>
                    </div>
                        <div class="col-lg-4">
                            <div class="team-member" style="padding-top: 90px;">
                                    <a class="btn-social" href="{{ url_for('wikipop') }}">
                                        <img class="mx-auto rounded-circle" src="{{url_for('static', filename='assets/img/hw/pop.png') }}" alt="..." />
                                    </a>
                                <h4 style="color: darkgray">WikiPop App</h4>
                                <p class="text-muted">See how popular any word is in Wikipedia.</p>
                            </div>
                        </div>

            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="sad" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">Gloomy</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2WgOjdCqAIvLpYOXwt8W4y?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="energy" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">Energetic</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3NGoLJ26bHKz5YxzMPcEhL?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="blin" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">Bling</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5eFuRWBrOzCYSGo3jy9Pp7?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="leaf" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">chill</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1Q1P4147z44IwfV6RzTpMo?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="home" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">homesick</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1MuXu5A1b2M6TqjS4rlkUW?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="dance" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">going out</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0h9VE2Qlnb8bTO0yEsDG1s?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="mdlr" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">street</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2LBtm1Y4PgssTOBp6lJ7iG?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="heart" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">plenty</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4H6I0OOTIxFzru428m7EyV?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="tb" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">throwback</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/60yMuwBaj9LFE7MJvbIRsX?utm_source=generator&theme=0" width="100%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="jkl" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase" style="color:black">throwback</h2>
                                    <!-- Project details-->
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2LBtm1Y4PgssTOBp6lJ7iG?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}