<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <title>Wildlife gallery</title>
    <style>
      .jumbotron {
        text-align: center;
        background-image: url("../assets/img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        width:100%;
      }

      .gallery {
        padding: 10px;
      }

      .gallery img {
        width: 100%;
        border-radius: 0px;
        position: relative;
        padding: 10px;

      }
    </style>
  </head>

  <body>
    <div class="jumbotron">
      <h1 style="background-color:black; width: fit-content; color: rgba(255, 255, 255, 0.75); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Wildlife gallery</h1>
      <p style="background-color:black; width: fit-content; color: rgba(255, 255, 255, 0.75); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">This is a collection of pictures taken in September of 2019 in the Masai Mara National Reserve, in Kenya.</p>
    </div>
    <div class="container-fluid">
    <div class="row gallery">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/B1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/C3.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C3.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/E4.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E4.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/G1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/G1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/L5.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/L5.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/F1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/F1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/A2.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/A2.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/I5.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/I5.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/D3.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/D3.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/C5.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C5.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/G2.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/G2.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/E5.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E5.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/E1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/L1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/L1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/D2.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/D2.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/B3.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B3.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/C1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/C1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/B2.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/B2.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/H1.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/H1.JPG') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{{url_for('static', filename='assets/img/gallery/E6.JPG') }}">
          <img class="img-fluid"src="{{url_for('static', filename='assets/img/gallery/E6.JPG') }}">
        </a>
      </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run(".gallery", {
      animation: "slideIn"
    });
    
  </script>
  </body>
  <style>
    body {
    color: white;
    background-color:#232323;
    }
 </style>

</html>